<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Please enter the Booking Id.</span>
</ion-header-bar>
<ion-content>
    <div class="main-container">
      <form name="booked" ng-submit="createToken(car)" novalidate class="booked">
        <div class="list">
          <div class="top-space">
            <label class="input-label item-input" ng-class="{ 'has-error' : booked.username.$invalid && !booked.username.$pristine }">
                <span class="">Booking Id<span class="required">*</span></span>
                
            </label>
            <input type="text" 
                  placeholder="Booking Id" 
                  name="identification"
                  ng-model="car.identification"
                  required
                  focus-me
                  >
            
            </div>
            <div class="form-error" ng-show="booked.identification.$invalid && !booked.identification.$pristine" >Enter a valid car number.
            </div>
            
          <div class="row">

           <div class="col col-50">
            <a href="#/app/token" class="bar button button-block custom-button top-btn-space grey-btn">
              Cancel
            </a>
          </div>

          <div class="col col-50">
            <button class="bar button button-block custom-button" type="submit" ng-disabled="booked.$invalid">
                  Confirm
              </button>
          </div>
        </div>
           </div> 
      </form>  
     </div>   
</ion-content>
</ion-view>