<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Please enter car number and click on price option then proceed.</span>
</ion-header-bar>
<ion-content class="has-footer">
  <div class="main-container">
      <div class="pos-rel">
        <form name="bookForm" ng-submit="getServiceDetail(car)" novalidate class="bookForm">
        <div class="row">
          <div class="col">
            <div class="list">
              <div class="top-space">
                <label class="input-label" ng-class="{ 'has-error' : bookForm.username.$invalid && !bookForm.username.$pristine }">
                    <span>Car Number <code class="required">*</code></span>
                </label>
                <input type="text" 
                      placeholder="Car Number Minimum 4 digit" 
                      name="carnumber"
                      ng-model="car.carnumber" 
                      ng-minlength="4" 
                      required 
                      focus-me   
                      class="item item-input">
                </div>
              <div class="form-error" ng-show="bookForm.carnumber.$dirty && bookForm.carnumber.$error.required">Car number is required.</div>

              <div class="form-error" ng-show="bookForm.carnumber.$dirty && bookForm.carnumber.$error.minlength">Car number must be atleast 4 digits.</div>


              <!-- <div class="form-error" ng-show="bookForm.carnumber.$invalid && bookForm.carnumber.$error.$required" >Enter a valid car number minimum length of 4.
              </div> -->

            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col col-50">
            <a href="#/app/token" class="bar button button-block custom-button top-btn-space grey-btn">
              Cancel
            </a>
          </div>

          <div class="col col-50">
            <button class="bar button button-block custom-button top-btn-space" type="submit" ng-disabled="bookForm.$invalid">
              Confirm
            </button>
          </div>
        </div>
        </form> 
      </div> 
  </div> 
  <div class="row responsive-sm">
   <div class="col">
    <h1 ng-show="price_lists.length==0" class="nothing-found-block">
      <i class="icon ion-android-alert"></i> No Price Option!
    </h1>
   </div>
  </div> 
</ion-content>
</ion-view>
