<ion-view view-title="Book Car SPA">
  <ion-header-bar class="bar bar-subheader">
              <span class="title">{{tokenScreen}}Please click on the below categories.</span>
  </ion-header-bar>
  <ion-content>
      <div class="main-container">
       <div class="row" ng-repeat="service in products_pages">
           <div class="col col-33 padding cat-wrap" ng-repeat="image in service" ng-click="getServices(image.center_service_id,image.name)">
              <img src= {{image.image}} alt="No Image" width="100%"  />
              <div class="fig-caption">
                <h3>{{image.name}}</h3>
              </div>
            </div>
       </div>
      </div>
      <div class="row responsive-sm">
            <div class="col">
              <h1 ng-show="categoryList.length==0" class="nothing-found-block">
                <i class="icon ion-android-alert"></i> No Categories Listed!
              </h1>
            </div>
      </div>
  </ion-content>
</ion-view>
