<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="pink-white-theme-color">
      <ion-nav-buttons side="left">
        <button ng-click="updateMenuContent()" class="button button-icon button-clear button-light ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <a ng-if="tokenStatus===true" ng-click="gotoTokenScreen()" class="button button-icon button-dark">Cancel</a>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
      <ion-header-bar class="pink-white-theme-color">
        <h1 class="title">BookCarSpa</h1>
      </ion-header-bar>
      <ion-content class="has-tabs left-menu">
        <ion-item menu-close ng-click="logout()" >
            <i class="icon ion-log-out"></i> Exit Application
        </ion-item>
      </ion-content>
    </ion-side-menu>
</ion-side-menus>
<div class="tabs tabs-icon-bottom pink-white-theme-color tabs-color-light main-menu-tabs">
</div>
