<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Please enter car number and click on price option then proceed.</span>
</ion-header-bar>
<ion-content class="has-footer">
  <div class="main-container">
      <div class="pos-rel">
        <form name="bookForm" ng-submit="getServiceDetail(car)" novalidate class="bookForm">
          <div class="row">
            
             <ul class="full-width">
            <div class="col" ng-repeat="price in price_lists" ng-show="price_lists.length>0">
                <li ng-repeat="detail in price" class="price-detail">
                <input type="radio" id="{{detail.eng_name}}" ng-model="car.priceData" name="priceData" value="{{car.priceData}}" required>
                <label for="{{detail.eng_name}}">
                 <span>{{detail.eng_name}}</span>
                 <span>Duration: {{detail.duration}} mins</span>
                 <span class="price-list">Price: {{actual_price}} AED</span>
                 </label>
                 <div class="check"></div>
                 </li>
              </div>
            </ul>
            <!-- <div class="past-card-wrapper">
              <div class="card inner-deal-card" ng-show="price_lists.length>0">
                <span class="price-option">Price option</span>

                <div class="col" ng-repeat="price in price_lists">

                  <input type="radio"  ng-show="detail.sell_price" ng-model="car.priceData" name="priceData" value="{{detail.eng_name}}+{{detail.duration}}+{{detail.sell_price}}+{{detail.id}}" required>

                </div>  
                <div class="row" ng-repeat="price in price_lists">
                  <div class="col-50 padding" ng-repeat="detail in price">
                      <ion-radio ng-show="detail.sell_price" ng-model="car.priceData" name="priceData" value="{{detail.eng_name}}+{{detail.duration}}+{{detail.sell_price}}+{{detail.id}}" required>
                          {{detail.eng_name}}<br>
                          Price: {{detail.sell_price}} AED<br>
                          Duration: {{detail.duration}} mins
                      </ion-radio>
                       <ion-radio ng-show="!detail.sell_price" ng-model="car.priceData" name="priceData" value="{{detail.eng_name}}+{{detail.duration}}+{{detail.full_price}}" required>
                          {{detail.eng_name}}<br>
                          Price: {{detail.full_price}} AED<br>
                          Duration: {{detail.duration}} mins
                      </ion-radio>
                  </div>
                </div>
              </div> 
            </div> -->  
        </div>
        <div class="row" ng-show="price_lists.length>0">
          
          <div class="col col-50">
            <a href="#/app/token" class="bar button button-block custom-button top-btn-space grey-btn">
              Cancel
            </a>
          </div>

          <div class="col col-50">
            <button class="bar button button-block custom-button top-btn-space" type="submit" ng-disabled="bookForm.$invalid">
              Confirm
            </button>
          </div>
        </div>
        </form> 
      </div> 
  </div> 
  <div class="row responsive-sm">
   <div class="col">
    <h1 ng-show="price_lists.length==0" class="nothing-found-block">
      <i class="icon ion-android-alert"></i> No Price Option!
    </h1>
   </div>
  </div> 
</ion-content>
</ion-view>
