<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Thanks you for the booking.</span>
</ion-header-bar>
	<ion-content>
	<div class="main-container">
		<!-- <div class="row">
			<div class="col">
				<div class="thanks-img">
					<img class="full-image" src="img/thankyou.jpg" alt="">
				</div>
			</div>
		</div> -->

		<div class="row thanks-token">
	        <div class="col">    
				<p>Thank you for registration at BookcarSPA .<!-- Your credentials has been mailed. --> <!-- You may log in now. --></p>
				
			</div>
		</div>

		
		
	</div>
	<div class="carbanner">
            <div class="row">
              <div class="col carbannerCol">
                <p class="animated flash">Don't stand in line, get booking online.</p> 
                <a href="javascript:void"> <img src="img/ios-app.png"> </a>
                <a href="javascript:void"> <img src="img/play-app.png"> </a>
              </div>
            </div>
          </div>	
	</ion-content>
</ion-view>
