<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Please click on register.</span>
</ion-header-bar>
  <div class="main-container">
      <div class="row welcome-logo">
      <div class="col home-image"> 
        <img src="img/logo.png">
      </div>
    </div>
  <form name="signUpForm" ng-submit="register(user)" novalidate>
     <div class="list">
        <label class="item item-input" ng-class="{ 'has-error' : signUpForm.first_name.$invalid && !signUpForm.firstname.$pristine }">
            <span class="input-label">Firstname <span class="required">*</span></span>
            <input  type="text" 
                  placeholder="FIRSTNAME" 
                  name="first_name"
                  maxlength="15"
                  ng-model="user.first_name"
                  required
                  ng-pattern="nameregex"
                  focus-me
                  style="text-transform:uppercase"
                  >
        </label>
        <div class="form-error" ng-show="signUpForm.first_name.$invalid && !signUpForm.first_name.$pristine" >Enter a valid firstname.
        </div>

        <label class="item item-input" ng-class="{ 'has-error' : signUpForm.last_name.$invalid && !signUpForm.lasttname.$pristine }">
            <span class="input-label">Lastname <span class="required">*</span></span>
            <input  type="text" 
                  placeholder="LASTNAME" 
                  name="last_name"
                  maxlength="15"
                  ng-model="user.last_name"
                  required
                  ng-pattern="nameregex"
                  style="text-transform:uppercase"
                  >
        </label>
        <div class="form-error" ng-show="signUpForm.last_name.$invalid && !signUpForm.last_name.$pristine" >Enter a valid lastname.
        </div>

         <label class="item item-input" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
            <span class="input-label">Email <span class="required">*</span></span>
            <input  type="email" 
                  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                  placeholder="EMAIL" 
                  name="email"
                  ng-model="user.email"
                  required
                  >
        </label>
        <div class="form-error" ng-show="(signUpForm.email.$error.pattern || signUpForm.email.$error.email) && !signUpForm.email.$pristine" >Enter a valid email.
        </div>
        <!-- <label class="item item-input" ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
            <span class="input-label">Password <span class="required">*</span></span>
            <input  type="password" 
                  placeholder="Password" 
                  name="password"
                  ng-model="user.password"
                  required
                  pattern=".{8,}"
                  >
        </label>
        <div class="form-error" ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine" >Enter a valid password of length atleast 8 digit or character.
        </div> -->
        <label class="item item-input" ng-class="{ 'has-error' : signUpForm.day_phone.$invalid && !signUpForm.day_phone.$pristine }">
            <span class="input-label">Mobile Number <span class="required">*</span></span>
            <input  type="text" 
                  placeholder="PHONE NUMBER" 
                  name="day_phone"
                  ng-model="user.day_phone"
                  maxlength="14"
                  required
                  ng-pattern="mobregex"
                  >
        </label>
        <div class="form-error" ng-show="signUpForm.day_phone.$invalid && !signUpForm.day_phone.$pristine" >Enter a valid phone number.
        </div>
    </div>
    <div class="row">
    <div class="col-50 padding">
      <a class="bar button button-block custom-button grey-btn" ng-click="showConfirm()">
                      Cancel
      </a>
    </div>
    <div class="col-50 padding">
      <button class="bar button button-block custom-button" type="submit" ng-disabled="signUpForm.$invalid">
        Register
      </button>
     </div>
   </div>
  </form>
  </div>  
</ion-content>
</ion-view>