<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Thank you for the booking.</span>
</ion-header-bar>
<ion-content>
	<div class="main-container">
		<div class="row thanks-token">
	        <div class="row next-slot">
				<h3>your token Number is:</h3>

                    <div class="col">
                    	<span> {{tokenNumber[0]}}</span>
                    	<span> {{tokenNumber[1]}}</span>
                    	<span> {{tokenNumber[2]}}</span>
                    	<span> {{tokenNumber[3]}}</span>
                    </div>
            </div>
		</div>
		<div class="row thanks-token">
			<div class="row">
				<div class="col">
					<div my-repeat-directiveee>
			        	<p>You will be redirected to home screen after <span>{{countDown}}</span></p>
			        </div>

      			</div>
     		</div>
     	</div>
		<!-- <div class="row">
			<div class="col">
				<div class="thanks-img">
					<img class="full-image" src="img/thankyou.jpg" alt="">
				</div>
			</div>
		</div> -->
		
	</div>	
</ion-content>
</ion-view>
