<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">{{tokenScreen}}Please click on the below services.</span>
</ion-header-bar>
<ion-content scroll="true">
  <div class="main-container">
    <div class="row">
      <div class="col">
        <h1 class="top-head">{{categoryName}}</h1>
      </div>
    </div>
      
      <div class="row" ng-repeat="service in service_lists">
         <div class="col col-33 services-wrap padding" ng-repeat="image in service" ng-click="getPriceList(image.center_service_id,image.image,image.ara_name)">
                <img src= {{image.image}} alt="No Image" width="100%"  />
                 <div class="fig-caption"><h3>{{image.name}}</h3></div>
          </div>
     </div>
  </div> 
  <div class="row responsive-sm">
      <div class="col">
        <h1 ng-show="serviceList.length==0" class="nothing-found-block">
          <i class="icon ion-android-alert"></i> No Services Listed!
        </h1>
      </div>
  </div> 
</ion-content>
</ion-view>
