  <ion-view view-title="Book Car SPA">
  <ion-header-bar class="bar bar-subheader">
    <span class="title">Please click on Book.</span>
  </ion-header-bar>
<ion-content>
<div class="main-container">
    <div class="row book-detail">
      <div class="col-40 padding services-wrap">
          
          <img class="full-image" src="{{serviceImage}}">
          <div class="fig-caption">
            <h3>{{serviceName}}</h3>
          </div>
      </div>
      <div class="col-60 padding">
         <!-- <div my-repeat-directive>
              
               <strong>Time remaining to confirm:</strong> 
               <div>
                {{countDown}}
                  
               </div>
         </div> -->
         <div class="next-slot">
            <div class="row">
                <div class="col">
                    <h3>Next Available Booking At:</h3>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="time-wrap">
                    <p><span>{{Timing.hour}}</span><span class="colon"> : </span><span>{{Timing.minute}}</span><span class="colon"> &nbsp; </span><span> {{Timing.ampm}} </span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="date-wrap">
                  <span>{{counterPrintDate}}</span>
                </div>
              </div>
            </div>
         </div>
         
         
        </div>
      </div>
      <div class="service-details">
      <div class="row">
        <div class="col col-33">
          <p class="text-size"><strong>Counter :</strong> {{counter_name}}</p>
        </div>
        <div class="col col-33">
          <p class="text-size"><strong>Duration:</strong> {{carDetail[1]}} min</p>
        </div>
        <div class="col-33 text-right">
          <p class="text-size"><strong>Price:</strong> {{carDetail[2]}} AED</p>
        </div>
      </div>
    </div>
     <div class="row time-reamin">
      <div class="col">
        <!--<p class="service-desc">Next Available booking at <strong>{{counter_date}}  {{counter_time}}</strong> at <strong>{{counter_name}}</strong></p>-->
        <div my-repeat-directive>
            <p>Time Remain To Confirm: <span> {{countDown}}</span></p>
        </div>
      </div>
    </div>
    </div> 
    
    
    <div class="row">
    
    <div class="col-50 padding">
      <a ng-click="unlockCounter()" class="bar button button-block custom-button grey-btn">Cancel</a>
    </div>
    <div class="col-50 padding"> 
      <button class="bar button button-block custom-button" ng-click="book()">
                  Book
      </button>
    </div>
  </div>
  </div> 
</ion-content>
</ion-view>
