<ion-view view-title="Book Car SPA">
  <ion-header-bar class="pink-white-theme-color">
    <h1 class="title">BookCarSpa</h1>
  </ion-header-bar>
    <ion-content  scroll="true" class="content-wrap has-footer">    
        <div class="main-container">
          <div class="row welcome-logo">
            <div class="col home-image"> 
              <img src="img/logo.png">
            </div>
          </div>
        <div class="padding landing-page-sigin-block">
            <form name="signInForm" ng-submit="signIn(user)" novalidate>
              <div class="list">
                  <label class="item item-input" ng-class="{ 'has-error' : signInForm.username.$invalid && !signInForm.username.$pristine }">
                      <span class="input-label">Username <span class="required">*</span></span>
                      <input  type="text" 
                      placeholder="Username" 
                      name="username"
                      ng-model="user.username"
                      required
                      style="text-transform:uppercase"
                      >
                  </label>
                  <div class="form-error" ng-show="signInForm.username.$invalid && !signInForm.username.$pristine" >
                     Enter a valid username.
                  </div>
                  <label class="item item-input" ng-class="{ 'has-error' : signInForm.password.$invalid && !signInForm.password.$pristine }">
                      <span class="input-label">Password <span class="required">*</span></span>
                      <input  type="password" 
                      placeholder="Password"
                      name="password"
                      ng-model="user.password"
                      required
                      >
                  </label>
                  <div class="form-error" ng-show="signInForm.password.$invalid && !signInForm.password.$pristine" >Enter a valid password.
                  </div>
              </div>
              <button class="bar button button-block  custom-button" type="submit" ng-disabled="signInForm.$invalid">
                  Sign-In
              </button>
              <!-- <button class="bar button button-block custom-button">
                 Cancel
              </button> -->
            </form> 
          </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-bottom pink-white-theme-color tabs-color-light main-menu-tabs">

    </div>
</ion-view>