<ion-view view-title="Book Car SPA">
<ion-header-bar class="bar bar-subheader">
          <span class="title">Thank you for the booking.</span>
</ion-header-bar>
<ion-content>
	<div class="main-container">
		<div style="position:relative;top:40px;margin:0 0 20px 0"> 
		<div class="row">
			
			<div class="row next-slot">
				<h3>Your Token Number Is:</h3>

                    <div class="col">
                    	<span> {{tokenNumber[0]}}</span>
                    	<span> {{tokenNumber[1]}}</span>
                    	<span> {{tokenNumber[2]}}</span>
                    	<span> {{tokenNumber[3]}}</span>
                    </div>
            </div>
		</div>
	    </div>
		<!-- <div class="row">
	        <div class="col col-50">    
				<p><strong>Car Number :</strong> {{bookingData.car_number}}</p>
				<p><strong>Token Number:</strong>{{bookingData.tokenNo}}</p>
			</div>
			<div class="col col-50">
		        <p class="text-right"><strong>Price:</strong> {{bookingData.appointment_price}} AED</p>
		        <p class="text-right"><strong>Duration:</strong> {{bookingData.appointment_duration}} min</p>
		    </div>
		</div> -->
		<!-- <div class="row">
		    <div class="col">
		        <p class="service-desc">Booked at<strong> {{bookingData.appointment_start_date}}</strong> at <strong>counter{{bookingData.center_counter_id}}</strong></p>   
			</div>
		</div> -->
		<div class="row">
			<div class="col col-50">
				
				<a href="#/app/token"class="bar button button-block custom-button grey-btn" >
					 No Thanks
				</a>
			</div>
			<div class="col col-50">
				<a href="#/app/register"class="bar button button-block custom-button" >
					 Register For Promotions
				</a>
				
			</div>
		</div>
	</div>	
</ion-content>
</ion-view>
