<div class="row">
              <div class="col">
                <div class="label-wrap">
                  
                  <span style="margin-right:3px !important;">{{counterTiming[0] | limitTo: 1}}</span>
                  <span>{{counterTiming[0] | limitTo: 2:1}}</span>
                </div>
                <div class="label-wrap1"><span class="colon">:</span></div>
                <div class="label-wrap">
                  
                  <span style="margin-right:3px !important;">{{counterTiming[1] | limitTo: 1}}</span>
                  <span>{{counterTiming[1] | limitTo: 2:1}}</span>
                </div>
              </div>
            </div>