<ion-view view-title="Book Car SPA" hide-back-button="true" cache-view="false">
  <ion-content drag-content="false" class="content-wrap has-footer">

        <div class="row token-button">
          <!-- <div class="col col-50 center padding" ng-class="{ 'highlight': issueToken}"  ng-mouseover="tokenIn()"> -->
          <div class="col col-50 center padding"  ng-mouseover="tokenIn()">
            <a href="#/app/categories">
            <div class="img-wrap">
              <img src="img/issue-token.jpg">
            
              <a href="#/app/categories" class="bar button button-block  custom-button grey-btn" data-ink-color="#9DEAFF" data-ink-opacity="1">
                Walk -ins
                </a>
              </div>
            </a>
            </div>
            <div class="col col-50 padding" ng-mouseover="bookendIn()" >
              <a href="#/app/booked">
              <div class="img-wrap">
                <img src="img/book-online.jpg">             
              
               <a href="#/app/booked" class="bar button button-block  custom-button" data-ink-color="#9DEAFF" data-ink-opacity="1">
                 Booked Appointment
                  </a></div></a>
            </div>
          </div>
          <div class="carbanner">
            <div class="row">
              <div class="col carbannerCol">
                <p class="animated flash">Don't stand in line, get booking online.</p> 
                <a href="javascript:void"><img src="img/ios-app.png"> </a>
                <a href="javascript:void"><img src="img/play-app.png"> </a>
              </div>
            </div>
          </div>
  </ion-content>
</ion-view>
