

.flip-clock-wrapper {
    position: absolute;
    bottom: 0;
    transform: scale(.45);
    margin-left: 105px !important;
    margin-bottom: 0px !important; /*MZ*/
}

.flip-clock-wrapper-relative {
    height:10px;
    position: relative !important;
    transform: scale(.25);
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}

.flip-clock-label {
    font-size: 34px !important;
    color: #fff !important;
}

.flip-clock-divider.minutes .flip-clock-label {
    right: -145px;
}

.flip-clock-divider.seconds .flip-clock-label {
    right: -53px;
}

.flip-clock-wrapper ul li a div div.inn {
    color: #002946;
    background-color: #fff;
}

.flip-clock-wrapper-sm{
    position: absolute;
    right: 0;
    top: 320px;
    margin: -50px !important;
}

.flip-clock-lg {
    transform: scale(0.7)!important;
}

.flip-clock-md {
    transform: scale(0.5)!important;
}

.flip-clock-sm {
    transform: scale(0.3)!important;
}

.flip-clock-center {
    width: 320px !important;
    margin: 0 auto !important;
}

.flip-clock-center-startcounter {
    width: 470px !important;
    margin: 0 auto !important;
}

.flip-clock-label {
    font-size: 24px !important;
    color: #FFFFFF !important;
}

.flip-clock-divider.minutes1 .flip-clock-label {
    right: -135px !important;
}

.flip-clock-divider.seconds1 .flip-clock-label {
    right: -35px !important;
}

