/* Empty. Add your own CSS if you like */
.main-container{
  margin:0 auto;
  width: 90%;
}
.button{
  border-radius: 0px !important;
  color:#fff;background-color: #aaaaaa;font-size: 22px;text-transform: uppercase;font-weight: 600;
  padding: 0px !important;
}
.myPassword{
  padding: 0px 0px 0px 5px !important;
}
.landing-home{
  background-image: url('../img/back4.png');
  background-size: cover;
}
.home-image{
  text-align: center;
}
.home-image img{
  width: 75%; 
}
.custom-button{
background-color: #FF8273;

} 
.button-login{
margin:0px 0px 0px 45px
}
.button-cancel{
	margin: 0px 0px 0 30px;
}
.token-button{
  float: left;
  position:relative;
  top:20px;
  }
.theme-color{
  background-color: #FF8273;
}
.inner-logo {
  height: 100%;
  width: 100%;
  text-align: center;
}
.inner-logo img{
  height: 70%;
  width: auto;
  margin-top: 2%;
}
.pink-white-theme-color{
  background-color: #FF8273;
  color: #FF8273;
}
.title{
  color: #fff;
  font-size: 12px;
}
.price-option{
      display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #444;
    font-size: 16px;
    margin:8px 0px 0px 16px
}
span.title{
 background-color: #EFEFEF; 
 color:#222;
 width: 100% !important;
 margin: 0 !important;
}
.form-error{
  color: red;
  font-size: 16px;
  margin: 6px 0px 6px 0px
}    
strong{
  font-size: 18px;
}    
.avail{
font-size:13px;
font-weight:bold;
margin:0 0 0 -7px;
}
/*.custom-thumbnail{

  max-width: 120px;
  max-height: 120px;
  left:40px;
}*/
.full-image {
margin:5px 0 0 
 
}
.service-right{
float: right;
    position: relative;
    padding: 18px 4px 6px 7px;
    margin: 3px 4px 4px 10px;

}
span{
  
  font-weight: bold;
}
.radio-content{
  border: 1px solid black;
}
.required{
  color:red;
}
/*.flip-clock-wrapper ul{
   height:80px !important;
  width:45px !important;
  margin: 0px 5px 4px 5px !important;background-color: transparent!important;
}
.flip-clock-wrapper ul li a{padding: 0 5px}
.flip-clock-wrapper ul li a div div.inn{background-color: #ff8273!important}*/
button b{
  color:#fff;
}
/*.flip-clock-dot{background:#c46156!important }
.flip-clock-wrapper ul li a div.up::after{background-color: #d3685d!important}*/
.token-button .button.button-block{margin-bottom: 0;min-height:40px;margin-bottom: 20px}
.token-button .grey-btn{background-color: #AAAAAA}
.grey-btn{background-color: #AAAAAA}
.highlight, .token-button .col-50:hover{background-color: #efefef;border-radius: 4px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.token-button .button:hover .token-button .col-50{background-color: #efefef;border-radius: 4px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.cat-wrap, .services-wrap{height: 200px;position: relative;}
.cat-wrap img, .services-wrap img{height: 100%;max-width: 100%;vertical-align: middle;}
.cat-wrap .fig-caption{position: absolute;bottom:10px;padding:10px;left:10px;right:10px;text-align: center;background-color: rgba(0, 0, 0, 0.6)}
.cat-wrap .fig-caption h3{margin:0;color:#fff;}
.services-wrap .fig-caption{position: absolute;bottom:10px;padding:10px;left:10px;right:10px;text-align: center;background-color: rgba(0, 0, 0, 0.6)}
.book-detail .services-wrap .fig-caption{bottom: 5px}
.services-wrap .fig-caption h3{margin:0;color:#fff;font-size:20px;font-weight: bold;text-transform: uppercase;}
.img-wrap{width: 100%;padding: 20px 10px 0}
.img-wrap img{max-width: 100%;height:100%;float:none;vertical-align: middle;margin: 0 auto;display: flex}
.content-wrap .scroll{height:100%;}
.content-wrap{padding:0 15px;}
/*.content-wrap .scroll .row{position: absolute;top:50%;transform:translateY(-50%)}*/
.services-wrap:hover, .cat-wrap:hover{ background-color: #efefef;border-radius: 4px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.nothing-found-block{text-align: center;}
.nothing-found-block i{color: red }
.content-wrap .scroll .pos-rel{position: static;transform:none;}
.bookForm{float: left;width: 100%;display: block;}
.price-detail input{vertical-align: middle;}
.price-detail span{font-size: 22px;font-weight: normal;}
.price-detail .price-list{float: right;font-weight: bold;margin-top:5px}
.price-detail {
    border-bottom: 1px solid #dedede;
    margin-top: 10px;
    padding: 0 5px 10px;
}
.price-detail:last-of-type{border: none;}
.top-space label, .top-space input, .booked label, .booked input{float: left;display: inline-block;}
.top-space input, .booked input{width: 69%;padding-left: 15px;padding-right: 15px; line-height:22px; border: 1px solid #ddd;height: 45px;font-size:22px;}
.top-space label span{font-size: 22px}
.top-space{margin:25px auto;float: left;width: 100%}
.text-right{text-align: right;}
.service-desc strong{color: #E24939;font-size: 14px;margin:auto 5px;}

.thanks-img {float: none;margin: 0 auto;width: 300px;}
.thanks-token{text-align: center;font-size: 16px;margin-top: 20px}
.thanks-token p strong{font-size: 16px}
.top-head{margin-top: 10px;color:#2D2D2D;padding: 0 5px 5px;margin-bottom: -5px}
.fig-caption h3{font-size: 20px;font-weight:bold;text-transform: uppercase;}
.next-slot{text-align: center;}
.next-slot span{height: 25px;padding: 10px;font-size:34px;background-color: #FF8273;color: #fff;border-radius: 4px;-webkit-box-shadow: 0px 2px 5px 0px rgba(54, 50, 50, 0.63);
-moz-box-shadow: 0px 2px 5px 0px rgba(54, 50, 50, 0.63);
box-shadow: 0px 2px 5px 0px rgba(54, 50, 50, 0.63);}
.next-slot span.colon{margin-left: -2px; background-color: transparent;color:#FF8273;box-shadow: none;display:inline-block;margin-top:20px}
.next-slot h3{text-align: center;margin-bottom: 0px;text-transform: uppercase;}
.next-slot{margin-bottom: 20px}
.container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #111111;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
  /*color: #FFFFFF;*/
}

ul li .check{
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 34px;
  width: 34px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul li:hover .check {
  /*border: 5px solid #FFFFFF;*/
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #FF8273;
}

input[type=radio]:checked ~ .check::before{
  background: #FF8273;
}

input[type=radio]:checked ~ label{
  color: #000;
}

.signature {
  position: fixed;
  margin: auto;
  bottom: 0;
  top: auto;
  width: 100%;
}

.signature p{
  text-align: center;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 0.85em;
  /*color: #AAAAAA;*/
}

.signature .much-heart{
  display: inline-block;
  position: relative;
  margin: 0 4px;
  height: 10px;
  width: 10px;
  background: #AC1D3F;
  border-radius: 4px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before, 
.signature .much-heart::after {
    display: block;
  content: '';
  position: absolute;
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  /*background: #AC1D3F;*/
  top: -4px;
}

.signature .much-heart::after {
  bottom: 0;
  top: auto;
  left: -4px;
}

.signature a {
  color: #AAAAAA;
  text-decoration: none;
  font-weight: bold;
}
.full-width{width:100%}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.label-wrap{float:left;width:45%}
.label-wrap p{margin-bottom:30px;font-size:24px;font-weight:bold}
.time-reamin span{font-size:14px}

.label-wrap1{float:left;width:10%}
.marginLeft{
  margin-left: 20px !important;
}

.carbanner{
  float: left;
  width: 100%;
  margin: 20px 0px 0px 0px !important;
}
.carbannerCol{
  margin: 20px 0px 0px 0px !important;
  padding: 5px 0px !important;
}

.service-details{
  font-size: 18px !important;
}

.text-size{
  font-size: 18px !important;
}

.button.button-positive{
  background-color: #FF8273;

}   
.popup-container .popup{width:260px;}
.date-wrap{    float: left;
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.next-slot .date-wrap span{font-size: 16px;
    background: transparent;
    box-shadow: none;
    color: #222}

.service-details .col-33{text-align: center;}

.carbanner{background:url("../img/carwash1.jpg") 0 0 no-repeat;height:150px;}
  .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.carbanner{text-align: center;}
.carbanner p{font-size: 26px;color:#ff8273;margin-bottom: 15px}

@media(max-width: 768px){
  .next-slot h3{font-size: 18px}
}
@media(max-width: 580px){
  .next-slot h3{font-size: 16px}
  .text-size {
    font-size: 14px !important;
}
}